* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0px;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-color: #fff;
}

.logo {
    width: 100%;
    /* A imagem ocupa 100% da largura do seu pai (.logo-link) */
    height: auto;
    /* Mantém a proporção da imagem */
    
    display: block;
    
    /* Garante que a imagem se comporte como um bloco para respeitar larguras */
    max-width: 150px;
    /* Defina uma largura máxima para a imagem em pixels */
    padding: 20px 15px;
    /* Garanta que a imagem não tenha padding próprio */
    /* Adicione esta linha para uma animação suave */

}



/* Estilo para a galeria de fotos */


.galeria-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

.galeria-link {
    text-decoration: none;
    color: #333;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.galeria-link:hover {
    transform: translateY(-5px);
}

.galeria-link img {
    width: 100%;
    height: auto;
    display: block;
}

/* Estilo para a página da galeria de fotos */
.galeria-section {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Botão "voltar" alinhado à esquerda */
.galeria-section .voltar-btn {
  position: absolute;
  left: 20px;
  text-decoration: none;
  font-size: 16px;
  color: #007bff;
  font-weight: bold;
}

/* Título centralizado */
.galeria-section .galeria-title {
  text-align: center;
  flex: 1;
}

.galeria-title h2 {
  margin: 0;
  font-size: 44px;
  color: #333;
}

.galeria-title h2::after {
  content: "";
  position: absolute;
  margin-bottom: 10px;
  bottom: -1px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 3px;
  background-color: #007bff; /* Cor da linha */
  border-radius: 2px;
}



.fotos-galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 40px;
    padding: 0 20px;
    margin-bottom: 40px;
}

.foto-item {
     width: 100%;
    height: 300px; /* Altura fixa como nas fotos do Drive */
    object-fit: contain; /* Garante que a imagem preencha sem distorcer */
    border-radius: 6px;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.foto-item:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo do Modal (pop-up) */
.modal {
    display: none; /* Esconde o modal por padrão */
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 90%;
    max-height: 80%;
}

.fechar-btn, .proximo-btn, .anterior-btn {
    position: absolute;
    top: 300px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.fechar-btn:hover, .proximo-btn:hover, .anterior-btn:hover {
    color: #bbb;
    text-decoration: none;
}

.fechar-btn {
    top: 15px;
    right: 35px;
}

.proximo-btn {
    right: 50px;
}

.anterior-btn {
    left: 50px;
}

.download-btn {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s ease;
    transition: all 0.3s ease;
}

.download-btn:hover {
    background-color: #0056b3;
}

.rodape {
    background-color: #0056b3;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-links {
    margin-bottom: 20px;
    font-size: 90%;
}

.footer-links a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
    transition: text-decoration 0.3s ease;
}

.footer-links a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
  .galeria-section {
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
    
    
  }

  .galeria-section .voltar-btn  {
    position: static;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 18px;
  }

  .galeria-section .galeria-title {
    flex: none;
    width: 100%;
  }

  .galeria-title h2 {
    font-size: 28px;
  }

  .galeria-title h2::after {
    width: 60px;
    height: 2px;
    bottom: -8px;
  }

  .galeria-container {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .fotos-galeria {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 0 30px;
    margin-top: 30px;
   
  }

  .foto-item {
    width: 100%;
  }

  .modal-content {
    max-width: 100%;
    max-height: 70%;
  }

  .fechar-btn {
    font-size: 30px;
    right: 20px;
    top: 10px;
  }

  .proximo-btn, .anterior-btn {
    top: 50%;
    font-size: 30px;
  }

  .proximo-btn {
    right: 20px;
  }

  .anterior-btn {
    left: 20px;
  }

  .download-btn {
    padding: 8px 16px;
    font-size: 14px;
    bottom: 15px;
    margin-bottom: 30px;
  }
}
